body {
  background: lightgreen;
  font-family: sans-serif;
}

.main-column {
  display: block;
  width: 700px;
  margin: 0 auto;
  padding: 0;
}

.clear-button {
  float: right;
  background: blue;
  padding: 10px;
  text-transform: uppercase;
}

.clear-button:hover {
  cursor: pointer;
  background: lightblue;
}

.image-upload {
  margin-top: 30px;
  float: left;
}

.main-column-left {
  float: left;
}

.main-column-slider {
  width: 400px;
  margin-top: 30px;
}

.choose-image {
  float: right;
}

.choose-image li {
  float: left;
  width: 100px;
  height: 100px;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.choose-1 {
  background-image: url('../pictures/600.jpg');
}

.choose-2 {
  background-image: url('../pictures/nyancat.jpg');
}

.choose-3 {
  background-image: url('../pictures/eye.jpg');
}
