body {
  background: #100000;
  background: linear-gradient(to bottom, rgba(30,2,10,1) 0%, rgba(0,0,1,1) 100%);
  font-family: sans-serif;
  color: white;
  font-size: 14px;
}

a {
  color: white;
  text-decoration: underline;
}

.heading {
  position: relative;
  transition: 0.5s ease-in-out;
}

.fadeout {
  opacity: 0.2;
}

.heading-right {
  position: absolute;
  font-size: 14px;
  top: 10px;
  right: 0;
}

.heading-right div {
  margin: 5px;
}

.title {
  margin-top: 15px;
  font-size: 48px;
}

.subtitle {
  margin-bottom: 20px;
  font-size: 18px;
}

.main-column {
  display: block;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.canvas-instructions {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 800px;
  text-align: center;
  font-size: 30px;
  text-shadow: 3px 3px 5px black;
}

.canvas-instructions.hide-me {
  display: none;
}

.below-canvas {
  margin-top: 10px;
  transition: 0.5s ease-in-out;
}

.controls-drawer {
  position: fixed;
  bottom: -260px;
  right: 5%;
  font-size: 18px;
  transition: bottom 0.5s;
}

.controls-drawer:hover {
  bottom:0px;

}

/*.controls-drawer:hover .toggles{
  max-height: 300px;
}

.toggles {
  max-height: 0;
  transition: max-height 0.5s;
}*/

.drawer-top {
  width: 300px;
  text-align: center;
  box-sizing: border-box;
  background: black;
  padding: 10px 20px;
  border: 1px solid white;
  margin: 2px 0;
  text-transform: uppercase;
}

.toggle-btn {
  width: 300px;
  text-align: center;
  box-sizing: border-box;
  background: black;
  padding: 10px 20px;
  border: 1px solid white;
  margin: 2px 0;
  text-transform: uppercase;
}

.toggle-btn.selected {
  background: #5b5b5b;
}

.toggle-btn:hover {
  cursor: pointer;
  background: lightblue;
}



.toggle-multi-opa {
  float: left;
  width: 75px;
  text-align: center;
  box-sizing: border-box;
  background: black;
  padding: 10px 10px;
  border: 1px solid white;
  margin: 2px 0;
  text-transform: uppercase;
}

.toggle-multi-opa.selected {
  background: #5b5b5b;
}

.toggle-multi-opa:hover {
  cursor: pointer;
  background: lightblue;
}



.toggle-mode-display {
  display: none;
}

.current-show {
  display: block;
}

.image-upload {
  display: none;
}

.main-column-left {
  float: left;
  margin-bottom: 100px;
}

.main-column-slider {
  width: 850px;
  margin: 10px 0 10px 0;
}

.description-text {
  width: 850px;
  line-height: 16px;
}

.description-text .title {
  font-size: 18px;
  margin-bottom: 5px;
}

.description-list {
  margin: 10px 0;
}

.main-column-top {
  margin-bottom: 20px;
}

.choose-image {
  float: left;
}

.choose-upload {
  background: black;
  text-transform: uppercase;
  box-sizing: border-box;
  padding-top: 30px;
  border: 3px dotted white;
  text-align: center;
  color: white;
  font-weight: bold;
}

.choose-image li,
.choose-upload {
  float: left;
  width: 90px;
  height: 90px;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0 5px;
  filter: grayscale(80%);
}

.choose-upload {
  filter: grayscale(0%);
}


.choose-image li:hover,
.choose-upload:hover {
  cursor:pointer;
  box-shadow: 4px 4px 10px 0px white;
}

.choose-1 {
  background-image: url('../pictures/picasso.jpg');
}

.choose-2 {
  background-image: url('../pictures/nyancat.jpg');
}

.choose-3 {
  background-image: url('../pictures/eye.jpg');
}

.choose-4 {
  background-image: url('../pictures/chihuly.jpg')
}

.choose-5 {
  background-image: url('../pictures/westbrook.jpg')
}

.choose-6 {
  background-image: url('../pictures/marina.jpg')
}

.choose-7 {
  background-image: url('../pictures/hk.jpg')
}

.choose-8 {
  background-image: url('../pictures/dubai.jpg')
}

.choose-9 {
  background-image: url('../pictures/dp.jpg')
}
.choose-10 {
  background-image: url('../pictures/map.jpg')
}
.choose-11 {
  background-image: url('../pictures/bliss.jpg')
}
