body {
  background: black;
  font-family: sans-serif;
}

.main-column {
  display: block;
  width: 700px;
  margin: 0 auto;
  padding: 0;
}

.clear-button {
  float: right;
  background: blue;
  padding: 10px;
  text-transform: uppercase;
}

.clear-button:hover {
  cursor: pointer;
  background: lightblue;
}

.main-column-left {
  float: left;
}

.main-column-slider {
  width: 400px;
  margin-top: 30px;
}
